<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>

    <style>
        body {
            background: url(/static/paper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
        }
        </style>
</head>




<body style="text-align: center;">
    <div style="font-weight: bolder; font-size: 30px;">
    <h1>URL Shortener</h1>
    <hr>
    <div>
        {% block content%}
        {% endblock %}
    </div>
    </div>



</body>
    </html>











